
a {
  display: flex;
}

.container {
    display: flex;
    max-width: 815px;
    margin: auto;
}
 

.container-flex {
    display: flex;
    flex-direction: column;
    margin: auto;
}

.leagues-display-box{
  color: white;
  margin: auto;
  margin-bottom: 10px;
  max-width: 728px;
  width: 100%;
}
  

.league-detail {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  margin-bottom: 1px;
  font-size: 1.2rem;
  font-weight: normal;
  background: #303030;
  padding: 0.5em 2.5em 0.5em 2.5em;
  align-items: center;
}



@media (max-width: 600px) {
  .league-detail {
    font-size: 0.875rem;
  }
}